* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffe4ec;
}


header {
    display: flex;
    background-color: #eeb5ce;
    justify-content: space-between;
    padding: 20px;
    height: 150px;
}

#logo-titulo2{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#titulo-header2 {
    display: flex;
    font-size: 30px;
    color:#f476ad;
}


#menu-header2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#menu2{
    display: flex;
    gap:10px;
    padding: 20px;
    color:white;
}

a:link {
    color: #fff;
    text-decoration: none;
}

a:visited {
    color:#fff;
}

a:hover {
    color: rgb(221, 52, 221);
    font-weight: 500;
}


li {
    list-style-type: none;
}

#logo-header2 img {
    width: 150px;
    padding: 20px;
}

#galeria2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    gap:8px;
    margin-top: 20px;
}

.galeria-texto2 {
    background-color: white;
    border-radius: 12px;
    width:50%;
    padding: 20px;
}